<% include ./partials/header %>

<div  class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form action="/blogs/<%=blog._id%>" method="POST" class="ui fluid form">
        <div class="field">
            <input type="text" name="title" value="<%= blog.title %>">
        </div>
        <div class="field">
            <input type="text" name="image" value="<%= blog.image %>">
        </div>
        <div class="field">
            <textarea name="content" placeholder="blog content" required><%= blog.content %></textarea>
        </div>
        <button class="ui brown basic button" type="submit">Submit</button>
    </form>
</div>

<% include ./partials/footer %>