<% include ./partials/header %>

<div  class="ui main text container segment">
    <h1 class="ui center aligned huge header">Welcome to my blog!</h1>


    <% blogs.forEach(function(blog){ %>
        <div class="ui divided items">
            <div class="item">
                <div class="image">   
                    <img  src="<%= blog.image %>">
                </div> 
                <div class="content">
                    <h2 class="header"><%= blog.title %></h2>
                    <div class="meta">
                        <p class="cinema"><%= blog.created %></p>
                    </div>
                    <div class="description">
                        <p><%- blog.content.substring(0,200) %></p>
                    </div>
                    <div class="extra">
                        <a class="ui large label" href="/blogs/<%= blog._id %>">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<% include ./partials/footer %>